 
<!-- <input ng-model="searcher.theme">
<input ng-model="searcher.country"> -->
 
<div class="col-md-3" ng-repeat="drawing in drawings|filter:{title:search}|filter:{theme_id: searcher.theme,country:searcher.country}:true|filter:ageFilter |limitTo:totalDisplayed|orderBy:sortKey:reverse">
  <div class="well" >
          <a   data-toggle="modal" data-target="#model_{{drawing.id}}" ng-click="onDoClick(drawing.id); onDoView(drawing.id)">
            <img ng-src="{{drawing.image}}" class="img-responsive" style="height:94px;" ></a>
          <hr/>
          
          <h4 ng-click="onDoClick(drawing.id); ; onDoView(drawing.id)"><a class="text-primary" data-toggle="modal" data-target="#model_{{drawing.id}}" >{{drawing.title}}</a><span ng-class="{'sponsor-success text-warning':drawing.is_sponsored}" ng-show="drawing.is_sponsored"><i class="fa fa-fw fa-graduation-cap fa-1x"></i></span></h4>
         <!--  <p style="word-wrap: break-word;">{{drawing.description}}
          </p> -->
          <p class="text-left text-success trimtext" style="min-height:71px;" ><i class="fa fa-fw fa-child "></i> {{drawing.username}}</p>
          <p class="text-default">
            <i class="mentioncaption fa fa-fw fa-hand-o-up " style="cursor:pointer;" onmouseout="$(this).removeClass('text-primary');" ng-click="onDoClick(drawing.id)" onmouseover="$(this).addClass('text-primary');"></i><span style="cursor:pointer;" id="click_{{drawing.id}}">{{drawing.clicks}}</span> 
            &nbsp; &nbsp;&nbsp;

            <i class="mentioncaption fa fa-fw fa-heart" style="cursor:pointer;" ng-click="onDoLike(drawing.id)" onmouseout="$(this).removeClass('text-primary');" onmouseover="$(this).addClass('text-primary');"></i><span style="cursor:pointer;" id="like_{{drawing.id}}">{{drawing.likes}}</span>&nbsp; &nbsp;&nbsp;
            <a class="text-danger " style="color:#d9534f !important;cursor:pointer;" ng-click="onDoReport(drawing.id)" data-toggle="modal" data-target="#reportmodel_{{drawing.id}}"><i class="fa fa-icon fa-flag"></i> Report</a> 
          </p>
          <p> 
<!-- AddToAny BEGIN -->
<!-- <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
</div>
-->
<!-- AddToAny END -->

<!-- AddToAny END -->

<!-- AddToAny BEGIN with share link page-->
<!-- <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="http://{{sitehost}}/drawing.php?id={{drawing.id}}" data-a2a-title="{{drawing.title}}">
<a class="a2a_dd"  ></a>
<a class="a2a_button_facebook" ></a>
<a class="a2a_button_twitter"   ></a>
<a class="a2a_button_google_plus" ></a>
</div> -->

<!-- AddToAny END -->
<!-- angualr share -->

<a href="#" class="btn btn-primary" style="padding:10px;" socialshare
socialshare-provider="facebook"
socialshare-text="{{drawing.title}}"
socialshare-url="http://{{sitehost}}/drawing.php?id={{drawing.id}}">
<i class="fa fa-facebook fa-1x"></i>
</a>


<a href="#"  class="btn btn-danger" style="padding:10px;" socialshare socialshare-provider="google"
socialshare-text="{{drawing.title}}"
socialshare-url="http://{{sitehost}}/drawing.php?id={{drawing.id}}">
<i class="fa fa-google fa-1x"></i>
</a>


<a href="#" class="btn btn-info" style="padding:10px;" socialshare
socialshare-provider="twitter"
socialshare-text="{{drawing.title}}"
socialshare-url="http://{{sitehost}}/drawing.php?id={{drawing.id}}">
<i class="fa fa-twitter fa-1x"></i>
</a>

<a href="#" class="btn btn-danger" style="padding:10px;" 
socialshare
socialshare-provider="pinterest"
socialshare-text="{{drawing.title}}"
socialshare-url="http://{{sitehost}}/drawing.php?id={{drawing.id}}">
 
<i class="fa fa-pinterest fa-1x" ></i>
</a>

<!-- angular shre end -->
</p>
           
        <p>
          <div class="text-right"> 
          
          <a class="btn btn-primary col-md-12"   ng-click="onDoSponsor(drawing.id)"><span class="text-warning"><i class="fa fa-fw fa-graduation-cap fa-1x"></i></span>Sponsor</a>
          </div>
        </p> 
 </div>
        <hr/>
      
        <!-- model starts -->
        <div id="model_{{drawing.id}}" class="modal fade">
      <div class="modal-dialog  modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            
            <p class="text-center text-primary"><i class="fa fa-fw fa-child fa-3x"></i> {{drawing.username}}  <i style="color:green;" class="fa fa-fw fa-hand-o-up fa-3x"></i>Clicks : <span id="click1_{{drawing.id}}">{{drawing.clicks}}</span> <i style="color:black;" class="fa fa-fw fa-eye fa-3x"></i>Views :<span id="view1_{{drawing.id}}">{{drawing.views}}</span> <i style="color:#BE1931;" class="fa fa-fw fa-heart fa-3x"></i>Likes : <span id="like1_{{drawing.id}}">{{drawing.likes}}</span> </p>
            <p class="text-left text-warning"><i class="fa fa-fw fa-graduation-cap fa-3x"></i>Sponsors : {{drawing.sponsors.title.join(", ")}}</p>
          </div>
          <div class="modal-body " >
          	<p><h3 class="modal-title text-info">{{drawing.title}}</h3><img ng-src="{{drawing.image}}" class="img-responsive"></p>
            <p class="well">{{drawing.description}}</p>
            <hr/>
            <h3 class="well text-info" id="expandmk_{{drawing.id}}" ng-click="viewMakeOfart(drawing.id,drawing.proof)" ng-show="drawing.proof">Make Of Art <span style="float:right;"><i class="fa fa-caret-down"></i></span></h3>
            <p class="makeofwindow text-center"> <!-- <iframe width="660" height="315" ng-src="{{drawing.proof}}" frameborder="0" allowfullscreen>
</iframe>  --></p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
             
          </div>
        </div>
      </div>
    </div>
        <!-- model ends -->
         <!-- report model starts -->
        <div id="reportmodel_{{drawing.id}}" class="modal fade">
          <form name="reportForm"  id="reportForm_{{drawing.id}}" role="form" ng-submit="submitReport(drawing.id)" novalidate>
      <div class="modal-dialog  modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title text-info"> Report this <{{drawing.title}}></h3>
            
          </div>
           <div class="modal-footer text-right">
            <button class="btn btn-danger"><i class="fa fa-icon fa-flag"></i> Send Report</button>  
          </div>
          <div class="modal-body " >
             <div class="form-group" > 
                      <label for="name" class="control-label">Your Name</label>
                   
                      <input  name="name"   class="form-control name" palceholder="Enter name here ..." value=""   />
                      <input type="hidden" name="drawing_id" value="{{drawing.id}}" />
                     
             </div>
             <div class="form-group">
                    
                      <label for="email" class="control-label">Your Email</label>
                    
                      <input  name="email"  class="form-control email" palceholder="Enter email here ..." value="" />
                     
             </div>
              <h3> What is the issue with this artwork/content?* </h3>
             <div class="form-group">
               <input type="hidden" name="issue_type" value="normal"/>     
               <select name="normal_issue" class="form-control">  
                 <option value="Infringes my rights privacy, copyright and other legal violations">Infringes my rights privacy, copyright and other legal violations</option>

                 <option value="Not matching with theme description; not suit for this theme">Not matching with theme description; not suit for this theme</option>

                 <option value="Contains sexual, nudity or indecent">Contains sexual, nudity or indecent</option>


                 <option value="Violent, threatening or offensive">Violent, threatening or offensive</option>

                 <option value="Abusive, discriminatory, hatred based or defamatory">Abusive, discriminatory, hatred based or defamatory</option>

                 <option value="Child abusive">Child abusive</option>

                 <option value="Against terms and conditions of milliondollardrawings.com">Against terms and conditions of milliondollardrawings.com</option>

                 <option value="Other">Other</option>
               </select> 
             </div>
            <h3>Please provide additional details about:</h3>
           <div class="form-group">
                <textarea name="additional_details" class="form-control">  </textarea>
         </div>

 
           
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary">Submit</button>
            <a class="btn btn-default modelclose" data-dismiss="modal">Close</a>
             
          </div>
        </div>
      </div>
       </form>
    </div>
        <!-- model ends -->
 </div>
 <div class="col-md-10">
<p class="text-center"><button class="btn btn-warning"  ng-click="loadMore()"><i class="fa fa-arrow-down"></i>Load more</button></p>  
     </div>   
 